.tag {
  padding: 10px 10px;
  border: 2px solid transparent;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  transition-duration: 0.1s;
}

.tag:hover {
  border: 2px solid gray;
  background-color: transparent;
}

.category {
  padding: 10px 10px;
  border: 2px solid transparent;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  transition-duration: 0.1s;
}

.category:hover {
  border: 2px solid gray;
}

.category-icon {
  padding: 10px 10px;
  border: 2px solid gray;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.stride-dark {
  background-color: #f0f0f0
}

.stride-darker {
  background-color: lightgray
}

.footer {
  height: 5;
  padding: 0 0
}
