{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
      {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
      {% endblock %}
      {% block title_suffix %}
      {% with self.get_site.site_name as site_name %}
      {% if site_name %}- {{ site_name }}{% endif %}
      {% endwith %}
      {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/Stride.css' %}">
    {% block morestatic %} {% endblock %}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <body class="{% block body_class %}{% endblock %} has-navbar-fixed-top stride-darker">
    {% wagtailuserbar %}
    <nav class="navbar is-fixed-top stride-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% slugurl 'home' %}">
          <img src="{% static 'img/stribit.png' %}" width="45" height="50">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      {% block navbar %}
      <div  id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{% slugurl 'about' %}">
            About
          </a>
          <a class="navbar-item" href="{% slugurl 'contact' %}">
            Contact
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Projects
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{% slugurl 'sources' %}">
                Source Repository
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <p class="navbar-item">
          <strong>{{ page.title }}</strong>
          </p>
        </div>
      </div>
    </nav>
    {% endblock %}

    <div class="container">
    {% block content %}
    <div class="content">
    {{ page.body|richtext }}
    </div>
    {% endblock %}
    </div>

    <footer class="footer stride-dark">
      <div class="content has-text-centered">
        <p><strong>Stride</strong></p>
      </div>
    </footer>
  </body>
</html>
