{% extends "source_base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-repoindexpage{% endblock %}

{% block content %}

<div class="tile is-vertical">
  {% for source in sources %}
  <div class="tile is-vertical is-12 is-parent container ">
    <div class="box stride-dark">
      <p class="title"><a href="{{ source.orig_link }}">{{ source.title }}</a></p>

      <nav class="level is-mobile">
        <div class="level-left">
          <a href="{% slugurl 'source_repo_publishers' %}?publisher={{ source.publisher.name }}">
            <p>{{ source.publisher.name }} - {{ source.pub_date }}</p>
          </a>
        </div>

        {% if source.topic %}
        <div class="level-center">
          <a href="{% slugurl 'source_repo_topics' %}?topic={{ source.topic }}">
            <p>{{ source.topic }}</p>
          </a>
        </div>
        {% endif %}

        <div class="level-right">
          <a href="{{ source.arch_link }}">
            <p>Retrieved on {{ source.ret_date }}</p>
          </a>
        </div>
      </nav>

      <nav class="level is-mobile">
        {% with categories=source.categories.all %}
        {% if categories %}
        <div class="level-left">
          {% for category in categories %}
          <a href="{% slugurl 'source_repo_categories' %}?category={{ category }}">
            <button class="category tooltip">
              {% image category.icon fill-32x32 style="vertical-align: middle" %}
              <span class="tooltiptext">{{ category.name }}</span>
            </button>
          </a>
          {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        {% with tags=source.tags.all %}
        {% if tags %}
        <div class="level-right">
          {% for tag in tags %}
          <a href="{% slugurl 'source_repo_tags' %}?tag={{ tag }}"><button class="tag">{{ tag }}</button></a>
          {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
      </nav>

      {% if source.content_file %}
      <ul>
        <li><a href="{{ source.content_file.url }}">{{ source.content_file.title }}</a></li>
      </ul>
      {% endif %}

      {% if source.comment %}
      <div class="content">
        {{ source.comment|richtext }}
      </div>
      {% endif %}
    </div>

  </div>
  {% empty %}
  {% block empty_index  %}
  <div class="tags container">
    {% for name, count in tags.items %}
    <span class="tag">
      <!--<a href="{% slugurl '{{ slug }}' %s}?{{ tag_type }}={{ name }}">
      -->
      <a href="{% slugurl slug %}?{{ tag_type }}={{ name }}">
        {{ name }} | {{ count }}
      </a>
    </span>
    {% endfor %}
  </div>

  {% endblock %}
  {% endfor %}
</div>

{% endblock %}
