{% extends "source_list.html" %}

{% block empty_index %}
<div class="tile is-vertical is-12 is-parent container ">
  <div class="box stride-dark">
    <article class="message-is-dark">
      <div class="message-nody has-centered-text">
        No sources have been added to the repository as of now.
      </div>
    </article>
  </div>
</div>
{% endblock %}
