{% extends 'base.html' %}

{% load wagtailcore_tags %}

{% block navbar %}
<div  id="navMenu" class="navbar-menu">
  <div class="navbar-start">
    <a class="navbar-item" href="{% slugurl 'sources' %}">
      Sources
    </a>

    <a class="navbar-item" href="{% slugurl 'source_repo_about' %}">
      About
    </a>

    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        More
      </a>

      <div class="navbar-dropdown">
        <a class="navbar-item" href="{% slugurl 'source_repo_categories' %}">
          Categories
        </a>
        <a class="navbar-item" href="{% slugurl 'source_repo_tags' %}">
          Tags
        </a>
        <a class="navbar-item" href="{% slugurl 'source_repo_topics' %}">
          Topics
        </a>
        <a class="navbar-item" href="{% slugurl 'source_repo_publishers' %}">
          Publishers
        </a>
        <hr class="navbar-divider">
        <a class="navbar-item" href="{% slugurl 'contact' %}">
          Contact
        </a>
      </div>
    </div>
  </div>

  <div class="navbar-end">
    <p class="navbar-item">
    <strong>{{ page_title }}</strong>
    </p>
  </div>
</div>
</nav>
{% endblock %}
